
<div class="center-globally">
  <h1>Traductor Nia</h1>
  <div class="three-column">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Texto normal</mat-label>
        <textarea matInput placeholder="Ej. Diana es linda" (input)="onInputChange($event)"></textarea>
      </mat-form-field>
    </form>
    
    <mat-divider [vertical]="true"></mat-divider>
    
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Texto en NIA</mat-label>
        <textarea class="nia-script" matInput placeholder="Ej. Diana es linda">{{niaText}}</textarea>
      </mat-form-field>
    </form>
  </div>
</div>